#articles {
    background-color: rgb(228, 228, 228);
    width: 90%;
    margin: auto;
    display: flex;
    padding: 1em;
}

.article img {
    width: 40vw;
    border-radius: 8px;
    margin: auto;
}

.article {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.article button {
    width: 30%;
    margin: auto;
}